<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input [(ngModel)]="product.name" [disabled]="!isCreate" id="name" name="name" placeholder="Name"
                      class="form-control" required="true" type="text">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Category</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon" style="max-width: 100%;"><i
                        class="glyphicon glyphicon-list"></i></span>
                    <select [(ngModel)]="product.category.id" name="categoryid" class="selectpicker form-control">
                      <option *ngFor="let item of category" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <textarea [(ngModel)]="product.description" name="description" placeholder="Description"
                      class="form-control" required="true" type="text"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button *ngIf="isCreate==true" (click)="create()">Create</button>
                <button *ngIf="isCreate==false" (click)="update()">Save</button>
                <button (click)="goBack()">Back</button>
              </div>
            </fieldset>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>