<table class="table">
  <!-- <caption>List of users</caption> -->
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Descripton</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products; let i=index">
      <th scope="row">{{i.valueOf()+1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.category.name}}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/addproduct/{{item.id}}">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct(item)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>